# Database
DATABASE_URL="postgresql://user:password@1234567890:5432/nextpress?schema=public"

# Auth
AUTH_SECRET="your-auth-secret-here"

# Preview
PREVIEW_SECRET="your-preview-secret-here"

# Public URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
